In [1]:
import pandas as pd

In [75]:
df = pd.read_csv('test.csv')

In [76]:
df.head()

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [77]:
x = df['test']

In [78]:
y = df['class']

In [6]:
x.head()

0               I love Bangladesh
1    Could you give me an iphone?
2              Hello how are you?
3             I want to talk you.
Name: test, dtype: object

# Count Vectorizer

In [8]:
 from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv = CountVectorizer()

In [10]:
x = cv.fit_transform(x)

In [11]:
x.shape

(4, 14)

In [12]:
cv.vocabulary_

{'love': 8,
 'bangladesh': 2,
 'could': 3,
 'you': 13,
 'give': 4,
 'me': 9,
 'an': 0,
 'iphone': 7,
 'hello': 5,
 'how': 6,
 'are': 1,
 'want': 12,
 'to': 11,
 'talk': 10}

In [16]:
doc = x.toarray()

In [17]:
cv.get_feature_names()

['an',
 'are',
 'bangladesh',
 'could',
 'give',
 'hello',
 'how',
 'iphone',
 'love',
 'me',
 'talk',
 'to',
 'want',
 'you']

In [18]:
freq  = pd.DataFrame(doc,index=df,columns=cv.get_feature_names())

In [19]:
freq

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
"(I love Bangladesh, 1)",0,0,1,0,0,0,0,0,1,0,0,0,0,0
"(Could you give me an iphone?, 0)",1,0,0,1,1,0,0,1,0,1,0,0,0,1
"(Hello how are you?, 1)",0,1,0,0,0,1,1,0,0,0,0,0,0,1
"(I want to talk you., 1)",0,0,0,0,0,0,0,0,0,0,1,1,1,1

# TF - IDF

In [25]:
 from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
tf  = TfidfVectorizer()

In [27]:
x2 = tf.fit_transform(x)

In [28]:
x2.shape

(4, 14)

In [29]:
doc2 = doc = x2.toarray()

In [30]:
doc2

array([[0.        , 0.        , 0.70710678, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.70710678, 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.43003652, 0.        , 0.        , 0.43003652, 0.43003652,
        0.        , 0.        , 0.43003652, 0.        , 0.43003652,
        0.        , 0.        , 0.        , 0.27448674],
       [0.        , 0.5417361 , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.34578314],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.5417361 , 0.34578314]])

In [31]:
freq2  = pd.DataFrame(doc2,index=df,columns=tf.get_feature_names())

In [32]:
freq2

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
"(I love Bangladesh, 1)",0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
"(Could you give me an iphone?, 0)",0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
"(Hello how are you?, 1)",0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
"(I want to talk you., 1)",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

# Hashing Vectorizer

In [62]:
 from sklearn.feature_extraction.text import HashingVectorizer

In [69]:
hv = HashingVectorizer(n_features = 100)

In [70]:
x3 = hv.fit_transform(x)

In [71]:
x3.shape

(4, 100)

# Word2Vec

In [73]:
from gensim.models import Word2Vec, KeyedVectors

In [74]:
import nltk

In [80]:
textvector = [nltk.word_tokenize(test) for test in x]

In [81]:
textvector

[['I', 'love', 'Bangladesh'],
 ['Could', 'you', 'give', 'me', 'an', 'iphone', '?'],
 ['Hello', 'how', 'are', 'you', '?'],
 ['I', 'want', 'to', 'talk', 'you', '.']]

In [82]:
model = Word2Vec(textvector,min_count=1)

In [85]:
model.wv.most_similar('give')

[('iphone', 0.1747603714466095),
 ('Hello', 0.11118055880069733),
 ('talk', 0.10888978838920593),
 ('want', 0.10560771077871323),
 ('you', 0.09291954338550568),
 ('to', 0.08058696240186691),
 ('Could', 0.004842521157115698),
 ('?', -0.002754009095951915),
 ('an', -0.013679759576916695),
 ('are', -0.025461040437221527)]